global
        log 127.0.0.1 local1 notice
        maxconn 4096
        daemon
        user haproxy
        group haproxy

defaults
        log global
        mode http
        option httplog
        option dontlognull
        retries 3
        maxconn 2000
        contimeout 5000
        clitimeout 50000
        srvtimeout 50000

frontend www
   bind {{ haproxy_listen_address }}:{{ haproxy_listen_port }}
   default_backend weblab-backend

backend weblab-backend
   mode http
   stats enable
   stats auth admin:password
   stats hide-version
   stats uri /stats
   
   balance {{ haproxy_balance_algorithm }}
   cookie weblabsessionid prefix indirect nocache
   option forceclose
{# We can simplify this using "host" for the prefix, but this way the cookie value is shorter. #}
{% set count = 0 %}
{% for host in groups['web'] %}
   server {{ host }} {{ hostvars[host]['ansible_ssh_host']}}:80 check cookie l{{ count }}
{% set count = count + 1 %}
{% endfor %}
